<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HK5_LTHDT_BaoCaoDeTao.Properties.Settings.HK5_BaoCaoDeTai_LTHDTConnectionString"
            connectionString="Data Source=DESKTOP-RT97DOV\SQLEXPRESS;Initial Catalog=HK5_BaoCaoDeTai_LTHDT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HK5_LTHDT_BaoCaoDeTao.Properties.Settings.HK5_BaoCaoDeTaiCuoiKi_LTHDTConnectionString"
            connectionString="Data Source=DESKTOP-RT97DOV\SQLEXPRESS;Initial Catalog=HK5_BaoCaoDeTaiCuoiKi_LTHDT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HK5_LTHDT_BaoCaoDeTao.Properties.Settings.HK5_BaoCaoDeTaiCuoiKi_LTHDTNCConnectionString"
            connectionString="Data Source=DESKTOP-RT97DOV\SQLEXPRESS;Initial Catalog=HK5_BaoCaoDeTaiCuoiKi_LTHDTNC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HK5_LTHDT_BaoCaoDeTao.Properties.Settings.VDConnectionString"
            connectionString="Data Source=DESKTOP-RT97DOV\SQLEXPRESS;Initial Catalog=VD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HK5_LTHDT_BaoCaoDeTao.Properties.Settings.HK5_BaoCaoDeTai_QLHSConnectionString"
            connectionString="Data Source=DESKTOP-RT97DOV\SQLEXPRESS;Initial Catalog=HK5_BaoCaoDeTai_QLHS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HK5_LTHDT_BaoCaoDeTao.Properties.Settings.HK5_BaoCaoDeTai_QLHS_nfConnectionString"
            connectionString="Data Source=DESKTOP-RT97DOV\SQLEXPRESS;Initial Catalog=HK5_BaoCaoDeTai_QLHS_nf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>